		<div class="container" id="team" name="team">
		<br>
			<div class="row white centered">
				<h1 class="centered">ABOUT</h1>
				<hr>
				<br>
				<br>
				<div class="col-lg-12 centered">
					<img class="img img-circle" src="images/profile2.jpg" height="120px" width="120px" alt="">
					<br>
					<h4><b>Grigor Malo</b></h4>
					<a href="https://twitter.com/grigormalo" target="_blank"><i class="fa fa-twitter"></i></a>
					<a href="https://github.com/GrigorM" target="_blank"><i class="fa fa-github"></i></a>
					<a href="mailto:grigormalo@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a>
					<p>Coming soon.</p>
				</div><!-- col-lg-3 -->
				
			</div><!-- row -->
		</div><!-- container -->