<!-- jQuery Version 1.11.0 -->
<script src="/reclaim/js/jquery-1.11.0.js"></script>

<!-- Plugin JavaScript -->
    <script src="/reclaim/js/jquery.easing.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/reclaim/js/bootstrap.min.js"></script>

<!-- Custom Theme JavaScript for scrolling-->
<script src="/reclaim/js/landing-page.js"></script>

<!-- Custom jQuery and js for custom functionalities -->
<script src="/reclaim/js/custom.js"></script>

<!-- p5 libraries, standard, dom and sound -->
<script src = "/reclaim/js/p5.min.js"></script>
<script src = "/reclaim/js/p5.dom.js"></script>
<script src = "/reclaim/js/p5.sound.js"></script>	


